<div class="container">
  <div class="row">
    <div class="form-inline">
      <div class="form-group" style="margin: 30px 0">
        <div class="col-3">
          <label for="name">Name: </label>
        </div>
        <div class="col-9">
          <input #name type="text" id="name" class="form-control" placeholder="Type your name">
        </div>

        <div class="col-3">
          <label for="role">Role: </label>
        </div>
        <div class="col-9">
          <select #role id="role" class="form-control">
            <option>Admin</option>
            <option>Developer</option>
            <option>Designer</option>
          </select>
        </div>

        <div class="col-12">
          <button type="button"
                  class="btn btn-default"
                  (click)="addUser(name.value, role.value)">Add user</button>
        </div>
      </div>
      <app-user-list [childUserList]="userList"></app-user-list>
    </div>
  </div>
</div>
