<div class="container">
  <div class="row">
    <div class="form-inline">
      <div class="form-group" style="margin: 30px 0">

        <label for="name">Name: </label>
        <input #name type="text" id="name" class="form-control" placeholder="Type your name">

        <label for="role">Role: </label>
        <select #role id="role" class="form-control">
          <option>Admin</option>
          <option>Developer</option>
          <option>Designer</option>
        </select>

        <button type="button"
                class="btn btn-default"
                (click)="addUser(name.value, role.value)">Add user</button>
      </div>
      <app-user-list [_childUserList]="userList" (remove)="removeUser($event)"></app-user-list>
    </div>
  </div>
</div>
