.text-small {
  font-size: 18px;
}

.text-large {
  font-size: 36px;
}

.color-blue {
  color: blue;
}

.color-red {
  color: red;
}

.btn {
  background-color: #4CAF50;
  border: none;
  border-radius: 8px;
  color:white;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
