<table class="table">
  <thead>
  <tr>
    <th>No.</th>
    <th>ID</th>
    <th>Name</th>
    <th>Role</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let childUser of childUserList; let i = index">
    <td>{{ i }}</td>
    <td>{{ childUser.id }}</td>
    <td>{{ childUser.name }}</td>
    <td>{{ childUser.role }}</td>
    <td>
      <button class="btn btn-danger btn-sm"
              (click)="remove.emit(childUser)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="panel panel-default">
  <div class="panel-body">
    <p>Admin: {{ cntAdmin }}</p>
    <p>Developer: {{ cntDeveloper }}</p>
    <p>Designer: {{ cntDesigner }}</p>
  </div>
</div>
